language: node_js
node_js:
  - "8.9.3"
  - "10"

sudo: "required"
dist: trusty

branches:
  only:
    - master
    - /^greenkeeper/.*$/

cache: false

before_script:
  - npm install -g @angular/cli
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb

script:
  - ng test --watch false
  - ng build --prod
  - npm run cy:e2e
