@import 'scss/variables';
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
body {
  padding-top: 1rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
