<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="assets/img/coffee-1030971_1280.jpg" alt="Random first slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>
              Vivamus suscipit tortor eget felis porttitor volutpat.. https://pixabay.com/en/users/Free-Photos-242387
            </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/img/old-1130731_1280.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>
              Quisque velit nisi, pretium ut lacinia in, elementum id enim.. https://pixabay.com/en/users/Free-Photos-242387
            </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/img/old-1130743_1280.jpg" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>
              Pellentesque in ipsum id orci porta dapibus.. https://pixabay.com/en/users/Free-Photos-242387
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
